
// 设计图宽度为     750px == 100vw
// 所以在750屏幕下  7.5px == 1vw 


@function p2v($size) {
    @return $size / 7.5 * 1vw
};

//  假设在750的设计稿上量取到的 宽高是 100px * 80px
//  可以计算的到 13.33333333vw * 10.66666666vw

// 在375的屏幕上可以得到：
// 375px = 100vw
// 3.75px = 1vw
// 所以：
// 宽度：13.33333333vw * 3.75px  =  50px
// 高度：10.66666666vw * 3.75px =  40px
// 750 -> 375 正好缩小了一倍，从而实现适配

.box1{
    width: p2v(100); //13.33333333vw
    height: p2v(80); //10.66666666vw
    background-color: orange;
}